$font-family1:'Poppins', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$color1: white;
$color2: #fab700;
$color3: grey;
$color4: black;
$color5: #f9f9ff;
$color6: #04091e;