@import './variables';
@import './mixin';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    @include container;
}

nav{
    width: 100%;
    position: fixed;
    .register{
        @include flex;
        padding: 10px 0;
        .icons{
            display: flex;
            gap: 15px;
            i{
                font-size: 12px;
                color: $color1;
                cursor: pointer;
                transition: all .4s ease;
                &:hover{
                    color: $color2;
                }
            }
        }
        .login{
            display: flex;
            gap: 15px;
            align-items: center;
            .p1{
                font-family: $font-family2;
                font-size: 13px;
                color: $color1;
                transition: all .4s ease;
                    &:hover{
                        color: $color2;
                        cursor: pointer;
                    }
            }
            i{
                display: none;
                color: $color1;
                font-size: 13px;
                transition: all .4s ease;
                &:hover{
                    color: $color2;
                    cursor: pointer;
                }
            }
            .p2{
                font-family: $font-family2;
                font-size: 13px;
                color: $color1;
                transition: all .4s ease;
                    &:hover{
                        color: $color2;
                        cursor: pointer;
                    }
            }
        }
    }
    hr{
        border-color: rgba(255, 255, 255, 0.3);
    }
    .security{
        @include flex;
        padding: 15px 0;
        img{
            cursor: pointer;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 30px;
            li{
                list-style-type: none;
                font-size: 12px;
                font-family: $font-family1;
                text-transform: uppercase;
                position: relative;
                a{
                    text-decoration: none;
                    color: $color1;
                    transition: all .4s ease;
                    &:hover{
                        color: $color2;
                    }
                }
                .drop{
                    width: 200px;
                    height: 35px;
                    display: none;
                    transition: all .4s ease;
                    position: absolute;
                    top: 50px;
                    left: 10px;
                    ul{
                        padding: 15px 0;
                        background-color: $color1;
                        display: flex;
                        flex-direction: column;
                        transition: all .4s ease;
                        align-items: flex-start;
                        li{
                            list-style-type: none;
                            font-size: 12px;
                            font-family: $font-family1;
                            text-transform: uppercase; 
                            padding-left: 20px;
                            transition: all .4s ease;
                            &:hover{
                                color: $color2;
                                cursor: pointer;
                            }       
                        }
                    }
                }
            }
            #add{
                width: 50px;
                height: 30px;
                background-color: $color2;
                border: 1px solid $color2;
                color: $color1;
                cursor: pointer;
                font-family: $font-family1;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
        i{
            display: none;
            font-size: 30px;
            color: $color1;
            cursor: pointer;
        }
    }
}

.list-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: none;
    .modal{
        width: 250px;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        ul{
            display: flex;
            flex-direction: column;
            padding: 30px 0 0 20px;
            gap: 25px;
            li{
                list-style-type: none;
                font-size: 13px;
                font-family: $font-family1;
                text-transform: uppercase;
                font-weight: bold;
                a{
                    text-decoration: none;
                    color: $color1;
                    transition: all .4s ease;
                    &:hover{
                        color: $color2;
                    }
                }
            }
        }
    }
    i{
        position: absolute;
        top: 30px;
        right: 30px;
        color: $color1;
        font-size: 25px;
        cursor: pointer;
    }
}

header{
    width: 100%;
    padding: 230px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/header-bg.jpg.webp");
    background-size: cover;
    background-position: center;
    .head{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        #p1{
            font-family: $font-family1;
            font-size: 16px;
            color: $color1;
            letter-spacing: 1px;
        }
        #p2{
            font-family: $font-family2;
            font-size: 15px;
            color: $color1;
            line-height: 22px;
        }
        h1{
            font-family: $font-family1;
            font-size: 48px;
            color: $color1;
            letter-spacing: 1px;
            font-weight: bold;
        }
        button{
            width: 170px;
            height: 45px;
            background-color: $color2;
            border: 1px solid $color2;
            color: $color1;
            font-family: $font-family1;
            text-transform: uppercase;
            font-size: 15px;
            transition: all .4s ease;
            margin-top: 20px;
            &:hover{
                background: none;
                cursor: pointer;
                color: $color2;

            }
        }
    }
}

.section1{
    width: 100%;
    padding: 100px 0 50px 0;
    .offer{
        @include center;
        flex-direction: column;
        gap: 10px;
        h2{
            font-family: $font-family1;
            font-weight: bold;
            font-size: 35px;
        }
        p{
            font-family: $font-family2;
            font-size: 15px;
            color: $color3;
        }
    }
    .basic{
        @include flex;
        margin-top: 50px;
        flex-wrap: wrap;
        .brake{
            width: 32%;
            padding: 10px 0 25px 0;
            background-color: $color5;
            @include center;
            flex-direction: column;
            transition: all .5s ease;
            .photo{
                width: 100%;
                height: 45%;
                padding: 20px;
                img{
                    width: 100%;
                }
            }
            .lorem{
                width: 100%;
                height: 55%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h3{
                    font-family: $font-family1;
                    font-size: 18px;
                }
                p{
                    font-family: $font-family2;
                    color: $color3;
                    font-size: 15px;
                    line-height: 22px;
                }
            }
            button{
                width: 150px;
                height: 40px;
                margin-top: 30px;
                font-family: $font-family1;
                @include center;
                background-color:teal;
                border: 1px solid teal;
                color: $color1;
                cursor: pointer;
                font-size: 14px;
            }
            &:hover{
                background-color: $color2;
            }
        }
    }
}


.section2{
    width: 100%;
    padding: 150px 0 50px 0;
    background-color: $color5;
    .some{
        @include center;
        flex-direction: column;
        gap: 10px;
        h2{
            font-family: $font-family1;
            font-weight: bold;
            font-size: 35px;
        }
        p{
            font-family: $font-family2;
            font-size: 15px;
            color: $color3;
        }
    }
    .expert{
        @include flex;
        flex-wrap: wrap;
        margin-top: 50px;
        gap: 30px;
        .service{
            width: 31%;
            background-color: $color1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            transition: all .5s ease;
            .person{
                display: flex;
                gap: 15px;
                align-items: center;
                i{
                    font-size: 20px;
                }
                h3{
                    font-family: $font-family1;
                    font-size: 18px;
                }
            }
            p{
                font-family: $font-family2;
                color: $color3;
                font-size: 15px;
            }
            &:hover{
                background-color: $color2;
                cursor: pointer;
                box-shadow: -3px 4px 27px 1px rgba(130,130,130,0.75);
                -webkit-box-shadow: -3px 4px 27px 1px rgba(130,130,130,0.75);
                -moz-box-shadow: -3px 4px 27px 1px rgba(130,130,130,0.75);
            }
        }
    }
}

.section3{
    width: 100%;
    padding: 150px 0 100px 0;
    .late{
        @include center;
        flex-direction: column;
        gap: 10px;
        h2{
            font-family: $font-family1;
            font-weight: bold;
            font-size: 35px;
        }
        p{
            font-family: $font-family1;
            font-size: 15px;
            padding: 0 200px;
            text-align: center;
            color: $color3;
        }
    }
    .jan{
        @include flex;
        padding: 100px 0;
        flex-wrap: wrap;
        .prob{
            width: 23%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            cursor: pointer;
            .img{
                width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: all .5s ease;
                }
            }
            .ipsum{
                .gamb{
                    width: 120px;
                    height: 30px;
                    background-color: $color4;
                    @include center;
                    font-family: $font-family1;
                    color: $color3;
                    font-size: 14px;
                }
            }
            h3{
                font-family: $font-family1;
                font-size: 17px;
                transition: all .5s ease;
                cursor: pointer;
            }
            p{
                font-family: $font-family2;
                font-size: 15px;
                color: $color3;
            }
            .team{
                @include flex;
                .like{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    i{
                        font-size: 15px;
                        color: $color3;
                    }
                    p{
                        font-size: 15px;
                        font-family: $font-family2;
                        color: $color3;
                    }
                }
                .comment{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    i{
                        font-size: 15px;
                        color: $color3;
                    }
                    p{
                        font-size: 15px;
                        font-family: $font-family2;
                        color: $color3;
                    }
                }
            }
            &:hover img{
                scale: 1.1;
            }
            &:hover h3{
                color: $color2;
            }
        }
    }
}

footer{
    width: 100%;
    padding: 100px 0;
    background-color: $color6;
    .foot{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .about{
            width: 42%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3{
                font-family: $font-family1;
                color: $color1;
                font-size: 18px;
            }
            p{
                font-family: $font-family2;
                color: $color3;
                font-size: 15px;
                line-height: 22px;
                i{
                    color: $color2;
                }
                a{
                    text-decoration: none;
                    color: $color2;
                }
            }
        }
        .news{
            width: 38%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 50px;
            h3{
                font-family: $font-family1;
                color: $color1;
                font-size: 18px;
            }
            p{
                font-family: $font-family2;
                color: $color3;
                font-size: 15px;
            }
            .inp{
                width: 100%;
                display: flex;
                input{
                    width: 90%;
                    height: 40px;
                    padding-left: 10px;
                    font-family: $font-family1;
                    font-size: 14px;
                    border: 1px solid $color1;
                    background-color: $color1;
                }
                .i{
                    width: 10%;
                    height: 40px;
                    background-color: $color2;
                    @include center;
                    cursor: pointer;
                    i{
                        color: $color1;
                        font-size: 17px;
                    }
                }
            }
        }
        .follow{
            width: 20%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            margin-left: 70px;
            gap: 20px;
            h3{
                font-family: $font-family1;
                color: $color1;
                font-size: 18px;
            }
            p{
                font-family: $font-family2;
                color: $color3;
                font-size: 15px;
            }
            .divs{
                display: flex;
                gap: 25px;
                i{
                    color: $color1;
                    font-size: 13px;
                    transition: all .4s ease;
                    &:hover{
                        color: $color2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#sect{
    @include center;
    padding: 150px 0 50px 0;
    .details{
        @include center;
        .brake{
            width: 32%;
            padding: 10px 0 25px 0;
            background-color: $color5;
            @include center;
            flex-direction: column;
            transition: all .5s ease;
            .photo{
                width: 100%;
                height: 45%;
                padding: 20px;
                img{
                    width: 100%;
                }
            }
            .lorem{
                width: 100%;
                height: 55%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                h3{
                    font-family: $font-family1;
                    font-size: 18px;
                }
                p{
                    font-family: $font-family2;
                    color: $color3;
                    font-size: 15px;
                    line-height: 22px;
                }
            }
            button{
                width: 150px;
                height: 40px;
                margin-top: 30px;
                font-family: $font-family1;
                @include center;
                background-color:teal;
                border: 1px solid teal;
                color: $color1;
                cursor: pointer;
                font-size: 14px;
            }
            &:hover{
                background-color: $color2;
            }
        }
    }
}

#section{
    width: 100%;
    @include center;
    flex-direction: column;
    h1{
        font-family: $font-family1;
        text-align: center;
        margin-top: 50px;
        color: brown;
        font-size: 30px;
    }
    form{
        width: 400px;
        padding: 30px 0;
        border: 2px solid teal;
        @include center;
        margin-top: 50px;
        #add{
            width: 75%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            label{
                font-family: $font-family1;
            }
            input[type=text]{
                width: 100%;
                height: 40px;
                border: 1px solid $color1;
                background-color: $color1;
                font-family: $font-family1;
                font-size: 16px;
            }
            input[type=text]:focus{
                border: 2px solid teal;
                outline: none;
            }
            input[type=file]::file-selector-button{
                width: 100px;
                height: 30px;
                background-color: teal;
                border: 1px solid teal;
                color: $color1;
                font-family: $font-family1;
                font-size: 13px;
                cursor: pointer;
            }
            input[type=submit]{
                width: 150px;
                height: 35px;
                margin-top: 20px;
                margin-left: 50px;
                background-color: teal;
                border: 1px solid teal;
                color: $color1;
                font-family: $font-family1;
                font-size: 13px;
                cursor: pointer;
            }
        }
    }
}

.load{
    @include center;
    #load{
        width: 150px;
        height: 40px;
        border: 1px solid $color2;
        background-color: $color2;
        font-size: 15px;
        font-family: $font-family1;
        color: $color1;
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 1000px;
    }
    .section3{
        .late{
            p{
                padding: 0 150px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .container{
        max-width: 800px;
    }
    nav{
        .security{
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }
    }
    header{
        .head{
            width: 90%;
        }
    }
    .section1{
        .basic{
            flex-direction: column;
            gap: 20px;
            .brake{
                width: 100%;
                .lorem{
                    text-align: center;
                }
            }
        }
    }
    .section2{
        .expert{
            gap: 30px;
            .service{
                width: 47%;
            }
        }
    }
    .section3{
        .late{
            p{
                padding: 0;
            }
        }
        .jan{
            gap: 40px;
            .prob{
                width: 47%;
            }
        }
    }
    footer{
        .foot{
            flex-wrap: wrap;
            .about{
                width: 45%;
            }
            .news{
                width: 45%;
            }
            .follow{
                width: 20%;
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    nav{
        .security{
            flex-direction: row;
            ul{
                display: none;
            }
            i{
                display: block;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 600px;
    }
    nav{
        .register{
            .login{
                .p1{
                    display: none;
                }
                i{
                    display: block;
                }
            }
        }
    }
    header{
        .head{
            width: 100%;
        }
    }
    .section2{
        .expert{
            flex-direction: column;
            gap: 50px;
            .service{
                width: 100%;
            }
        }
    }
    .section3{
        .jan{
            flex-direction: column;
            gap: 50px;
            .prob{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 1200px;
        padding: 0 20px;
    }
    footer{
        .foot{
            flex-direction: column;
            gap: 30px;
            .about{
                width: 100%;
            }
            .news{
                width: 100%;
                margin-left: 0;
            }
            .follow{
                width: 100%;
            }
        }
    }
}